<!-- <form class="file-form" name="file" ng-controller="FileController as file" ng-submit="file.fileForm(file.file)" novalidate>

  <div class="form-group">
    <input id="picture" angular-file-select="" type="file" name="picture" fileForm="file.fileForm.src" required>
    <input name="file" type="file" file />
    <label id="picture-label" for="picture">Picture</label>
  </div>

  <div class="form-group">
    <input type="submit" class="button-submit" ng-disabled="fileForm.$invalid" value="Upload">
  </div>

</form> -->

<!-- ng-model="upload.file.picture" -->
<input name="file" type="file" file />
<p>yo</p>

