<nav class='navbar'>
  <ul class='navheaders' ng-controller="NavbarController as navbar">
    <li class='navListItem' ng-if='navbar.isLoggedIn()'><a class='navlinks' ng-href='#/posts'>Posts</a></li>
    <li class='navListItem' ng-if='navbar.isLoggedIn()'><a class='navlinks' ng-href='#/users'>Friends</a></li>
    <li style='display:none' class='navListItem' ><a class='navlinks' href='#/'>Home</a></li>
    <li class='navListItem' ><a class='navlinks' href='#/about'>About</a></li>
    <li class='navListItem' ng-if='navbar.isLoggedIn()'><a class='navlinks' ng-href='#/users/{{navbar.user}}'>Profile</a></li>
    <li class='navListItem' ng-if='!navbar.isLoggedIn()'><a class='navlinks' ng-href='#/login'>Login/Sign up</a></li>
    <li class='navListItem' ng-if='navbar.isLoggedIn()'><a class='navlinks' href='javascript:void(0)' ng-click='navbar.logout()'>Logout</a></li>
  </ul>
</nav>
