<section>
  <button type="text" ng-model='postsController.canEdit' ng-click="postsController.toggleCanEdit()">New Post</button>
  <newpost-form ng-show='postsController.canEdit'></newpost-form>
  <header><h1>All of the posts</h1></header>
  <article ng-repeat='post in postsController.posts' class='userPosts'>
    <h3><a ng-href='http://localhost:9000/#/posts/{{post.id}}'>{{post.title}}</a></h3>

    <p>Made by - <a ng-href='http://localhost:9000/#/users/{{post.user_id}}'>@{{post.user.username}}</a></p>

    <p>{{post.description}}</p>
    <p><a ng-href='http://localhost:9000/#/posts/{{post.id}}'><img src='{{post.picture}}'></a></p>
    <div class="postStats">
      <li>Likes: {{post.likes}}</li>
      <li>Reheats: {{post.reheats}}</li>
      <li>Mades: {{post.mades}}</li>
      <li>Stashes: {{post.stashes}}</li>
    </div>
    <h5>Comments:</h5>
    <p>{{post.comments[0].body}}</p>
  </article>
</section>
