<form class="upload-form" name-"uploadForm" ng-controller="UploadController as upload" ng-submit="upload.newUpload(upload.file)" novalidate>

  <div class="form-group">
    <input id="picture" angular-file-select="" type="file" name="picture" uploadForm="upload.newUpload.src" required>
    <label id="picture-label" for="picture">Picture</label>
  </div>

  <div class="form-group">
    <input type="submit" class="button-submit" ng-disabled="uploadForm.$invalid" value="Upload">
  </div>

</form>

<!-- ng-model="upload.file.picture" -->
