<section>
  <header><h1>All of the users</h1></header>
  <article ng-repeat='user in usersController.users' class='allUsers'>
    <h3><a ng-href='http://localhost:9000/#/users/{{user.id}}'>{{user.name}}</a></h3>
    <p>user id: {{user.id}}</p>
    <p><a ng-href='http://localhost:9000/#/users/{{user.id}}'>@{{user.username}}</a></p>
    <p>bio: {{user.bio}}</p>
    <p>location: {{user.location}}</p>
    <p><a ng-href='{{user.website}}' target='_blank'>{{user.website}}</a></p>
    <p><img src='{{user.avatar}}'></p>
    <div class='postStats'>
      <p>Likes: {{post.likes}}</p>
      <p>Reheats: {{post.reheats}}</p>
      <p>Mades: {{post.mades}}</p>
      <p>Stashes: {{post.stashes}}</p>
    </div>
  </article>
</section>
