<section>
  <button type="text" ng-model='usersController.canEdit' ng-click="usersController.toggleCanEdit()">Edit Profile</button>
  <editavatar-form style='display:none'></editavatar-form>
  <edituser-form ng-show='usersController.canEdit' ></edituser-form>
  <h1>User Profile</h1>
  <article class='allUsers'>
    <h3>hi {{usersController.user.name}}</h3>
    <p>@{{usersController.user.username}}</p>
    <p>bio: {{usersController.user.bio}}</p>
    <p>location: {{usersController.user.location}}</p>
    <p><a ng-href='{{usersController.user.website}}' target='_blank'>{{usersController.user.website}}</a></p>
    <p><img src='{{usersController.user.avatar}}'></p>
    <h5>Posts:</h5>
    <ul>
      <li ng-repeat='user in usersController.user.posts'><a ng-href='http://localhost:9000/#/posts/{{user.id}}'>{{user.title}}</a></li>
    </ul>
  </article>
</section>

